[submodule "src/submodules/backend-refresher-1.0-entities"]
	path = src/submodules/backend-refresher-1.0-entities
	url = git@github.com:RefactorAcademy/backend-refresher-1.0-entities.git
[submodule "src/submodules/backend-refresher-1.0-dtos"]
	path = src/submodules/backend-refresher-1.0-dtos
	url = git@github.com:RefactorAcademy/backend-refresher-1.0-dtos.git
